.component__skill--content{
     padding: .15cm 0;
     border-bottom: .05cm solid #eee;
 }
.component__skill--content > .component__skill--child > .component__skill--work{
    font-size: 85%;
    font-weight: inherit;
    text-align: justify;
}
.component__skill--child > p{
    width: 5cm;
    padding-right: 2mm;
}
.component__skill--work > p:first-letter{
    text-transform: capitalize;
}